body {
  padding: 0%;
  margin: 0%;
  background-color: rgba(246, 242, 242, 0.895);
  height: 100vh;
  border: border-box;
  overflow-x: hidden;
  
}

/* logo-section-start */
.hedlogo {
  color: white;
  gap: 8px;
}
.logotag {
  display: flex;
  align-items: center;
}
.logotag input {
  height: 30px;
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.logotag i {
  background-color: aliceblue;
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border: none;
}
/* logo-section-end */

/* Menu-section-start */
.box1 {
  display: block;
  font-size: 15px;
  text-align: center;
}
.hedmenu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 30px;
}

.hedmenu ul li a {
  font-size: 15px;
  text-decoration: none;
}
/* Menu-section-end */
/* profile-section-start */
.hedpro img {
  height: 5vh;
}
.hedpro span {
  color: white;
  font-size: 14px;
  font-weight: 600;
}
.hedpro i {
  color: white;
  padding-left: 5px;
}

/* profile-section-end */

/* main-container-section */

/* left-side-section-start */

.leftcard1 {
  height: 53vh;
  background-image: linear-gradient(to top, white 80%, orangered 20%);
  padding: 0;
}
.leftcarddata {
  text-align: center;
  padding-top: 15px;
  margin: 0%;
}
.leftcardimg img {
  height: 15vh;
  padding-top: 0px;
}

.leftcardname h5 {
  font-weight: bold;
  margin-bottom: 0;
}
.leftcardname p {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 0;
  padding: 10px 0px;
}
.leftcardflong {
  margin-bottom: 0;
  padding: 10px 0px;
}
.leftcardflong span {
  font-size: 15px;
}
.leftcardflower {
  margin-bottom: 0;
}
.leftcardflower span {
  font-size: 15px;
}
.not {
  margin-bottom: 0;
  padding: 0px 0px;
}
.not span {
  color: orangered;
}
hr {
  margin: 0%;
}
/* left-side-section-end   */

/* center-card-start */
.centercard {
  height: 10vh;
  background-color: white;

  justify-content: space-between;
  border-top: 3px solid orangered;
}

.centercard img {
  height: 50px;
}
.box12 {
  background-color: rgba(246, 242, 242, 0.895);
  border: none;
}
.box2 {
  color: white;
  background-color: orangered;
  border: none;
}

/* center-card-end */
/* right-card-start */
.rightcard {
  height: 28vh;
  background-color: white;
}
.rightcard h4 {
  text-align: center;
  padding-top: 35px;
  color: orangered;
  font-weight: bold;
}
.rightcard h6 {
  text-align: center;
  color: black;
}
.rightcard p {
  text-align: center;
  font-size: 10px;
  color: black;
  margin: auto;
}
hr {
  color: black;
}
.rightdet {
  text-align: center;
  padding-top: 5px;
}
.rightdet h6 {
  color: black;
  margin-bottom: 0;
}
.rightdet span {
  color: orangered;
  font-weight: bold;
  font-size: 10px;
}
/* right-second-card-start */

/* right-second-card-end */

/* right-side-section-end */

/* second-card-start */
.centercardsecond {
  height: 52vh;
  background-color: white;
}
.secondcardname h6 {
  font-weight: 700;
  margin: auto;
}
.secondcardname i,
span {
  font-size: 10px;
}

.box4 {
  background-color: lightgreen;
  border: 3px solid lightgreen;
  color: white;
}
.box5 {
  background-color: orangered;
  border: 2px solid orangered;
  color: white;
}
.secondcardhed p {
  font-weight: 600;
  padding-top: 10px;
}
.secondcard-button button {
  height: 25px;
  border: none;
  align-items: center;
  background-color: rgba(0, 0, 255, 0.704);
  color: white;
  border-radius: 4px;
}
.secondcard-buttn-data span {
  font-size: 15px;
  font-weight: 600;
}
.secondcard-para p {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.609);
  margin-bottom: 0;
  padding-top: 10px;
}
.secondcard-para span {
  color: orangered;
  font-weight: 700;
  font-size: 12px;
}
.secondcard-list ul {
  list-style-type: none;
}
.secondcard-list ul li a {
  text-decoration: none;
  border: 5px solid rgba(232, 228, 228, 0.895);
  background-color: rgba(232, 228, 228, 0.895);
  border-radius: 20px;
  color: rgba(0, 0, 0, 0.609);
}
.box7 i,
span {
  font-size: 15px;
}
.box8 img {
  height: 40px;
}
/* second-card-end */
/* left-card-2-start */
.leftcard2 {
  background-color: white;
  height: 50vh;
}
.leftcard-2-data span {
  font-weight: 700;
}
.leftcard-2-data i {
  color: rgba(0, 0, 0, 0.609);
}
.leftcard2-logo img {
  height: 5vh;
  padding-left: 15px;
}
.box24 {
  font-size: 15px;
}
.box25 {
  display: block;
  font-size: 10px;
  line-height: 10px;
  text-align: start;
}
.leftcard2-plus i {
  color: rgba(0, 0, 0, 0.609);
}

/* left-card-2-end */
/* right-card-2-start */
.rightcard-2 {
  background-color: white;
  height: 55vh;
}
.rightcard-2-data span {
  font-weight: 700;
}
.rightcard-2-data i {
  color: rgba(0, 0, 0, 0.609);
}
.box30 {
  font-size: 12px;
  font-weight: bolder;
}
.box31 {
  font-size: 12px;
  font-weight: bolder;
}
.rightcard-2-paragrap p {
  font-size: 10px;
}
/* right-card-2-end */
/* center-card-3-start */
.centercard-3 {
  height: 40vh;
  background-color: rgba(246, 242, 242, 0.895);
  border: 1px solid rgba(220, 218, 218, 0.687);
}
.box40 {
  font-weight: 700;
}
.box41 {
  color: rgba(0, 0, 0, 0.609);
}
.centercard-3-data-1 {
  width: 25%;
  height: 30vh;
  background-color: white;
}
.centercard-3-data-1-name h6 {
  margin-bottom: 0%;
}
.box50 {
  background-color: lightgreen;
  border: 1px solid lightgreen;
  width: 30px;
  height: 20px;
  color: white;
  border-radius: 4px;
}
.box51 {
  background-color: rgba(0, 0, 255, 0.704);
  border: 1px solid rgba(0, 0, 255, 0.704);
  width: 35px;
  height: 20px;
  color: white;
  border-radius: 4px;
}
.centercard-3-data-1-icn i {
  background-color: orangered;
  border: 2px solid orangered;
  width: 30px;
  height: 20px;
  color: white;
  border-radius: 4px;
}
/* center-card-3-satrt */
